$redColor: #dc2f2f;
$greenColor: #344e41;
$darkGreyColor: #21262e;
$normalFont: 'Rubik', sans-serif;

@mixin flexEnd {
    position: fixed;
    top: 0;         
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.navbar {
    @include flexEnd();
    z-index: 1000;
    background-color: #ffffff;
    padding: 10px 0;
}

.navbar-left {
    flex: 1;
}

.brand {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Rubik'
}

.links {
    display: flex;
    gap: 20px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}

.item {
    color: $darkGreyColor;
    font-family: $normalFont;
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;

    &:hover {
        color: red;
        cursor: pointer;
        text-decoration: underline;
    }

    &:visited {
        color: $normalFont;
    }
}

.toggleButton {
    display: none;

    @media only screen and (max-width: 600px) {
        position: absolute;
        display: block;
        align-items: center;
        color: white;
        border: none;
        padding: 10px;
        font-size: 30px;
        }
}

@media only screen and (max-width: 600px) {
    .navbar {
        .links {
            display: none;
        }
    }
}



@media only screen and (min-width: 2560px) {
    .links {

        .item {
            font-size: 34px;
        }
    }
}
